<div>
	<h5>Bill 2000</h5>
	<ul>
		<li>
			<NavLink href="/">
			Home	
			</NavLink>
		</li>
		<li>
			<NavLink href="/AllBills">
			Rechnungen	
			</NavLink>
		</li>
		<li>
			<NavLink href="/AllCompanies">
			Firmen	
			</NavLink>
		</li>
		<li>
			<NavLink href="/Summaries">
			Berichte	
			</NavLink>
		</li>
	</ul>
</div>
